{% extends 'base.html' %}
{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest"></h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{근로자키.이름}} ({{근로자키.나이}})</h1>
                <div class="flex mb-11">
                    <a href="{% url '근로자_목록:근로자업뎃' 근로자키.pk%}"
                        class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">정보수정</a>
                </div>

                <form method="post">
                    {% csrf_token %}
                    {{ 폼키.as_p }}
                    <button type="submit"
                        class="w-1/4 flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">전송</button>

                    </p>
                </form>
                <a href="{% url '근로자_목록:근로자_삭제' 근로자키.pk %}"
                    class="w-1/4 flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">지우기</a>

                </p>




                <div class="flex">
                    <path
                        d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z">
                    </path>
                    </svg>
                    </button>
                </div>
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
                src="https://dummyimage.com/400x400">
        </div>
    </div>
</section>



{% endblock content %}