<head>
    <style>
        .근로자 {
            padding-top: 20px;
            padding-bottom: 30px;
            padding-right: 10px;
            padding-left: 10px;
            background-color: #f2f4f3;
        }
    </style>

    {% extends 'base.html' %}
    {% block content %}

    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest"></h2>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"> {{근로자키.이름}} ({{근로자키.나이}})
                        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"> {{근로자키.이름}} ({{근로자키.나이}})
                            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"> {{근로자키.이름}} ({{근로자키.나이}})






                            </h1>

                            </p>


                            {% endblock content %}