{% extends 'base.html' %}

{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="w-full">
            <div>
                <h1 class="text-black-700">근로장 목록 입니다.</h1>
            </div>

            <div class="mb-5 text-indigo-500 inline-flex items-center"><a href="{% url '근로장_목록:근로장_등록'%}"> 근로장 등록</a>
            </div>

        </div>

        {% for 근로장 in 근로장키%}
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/2 md:w-full">
                <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                    <div
                        class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{근로장.작업장}} {{근로장.주소}} {{근로장.관리자}}
                        </h2>
                        <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast
                            vegan taxidermy. Gastropub indxgo juice poutine.</p>
                        <a href=" {% url '근로장_목록:업뎃' 근로장.pk %}"
                            class="mt-3 text-indigo-500 inline-flex items-center">근로장 수정

                            <a href=" {% url '근로장_목록:상세' 근로장.pk%}"
                                class="mt-5 text-indigo-700 outline-flex items-center">
                                근로자 목록

                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                    </div>
                </div>
            </div>

        </div>
        {% endfor%}
    </div>
</section>

{% endblock content %}